
.utilisateur{
    background-color: rgb(17, 62, 177);
}

.boutton{
    margin-left: 40%;
}

.rounded-icon {
    border: 1px solid rgba(255, 255, 255, 0.452);
   
    border-radius: 50%;
    background-color: rgba(0, 200, 255, 0.705);
}



p{
    color: white;
    padding-top: 5%;
    
  
}
